/license.txt
/mbs-errors.log
/user-uploads/*
/conf
/index.php
/public/cache/*
/public/caching/*
/public/.htaccess
/public/settings.php
/.htaccess
/library/core
/fatlib
/public/robots.txt
/public/config.js
/vendor/
/nbproject
/node_modules
/.vscode
.sass-cache/
*.css.map
*.sass.map
*.scss.map