$error: "error";

.#{$error} {

    &__media{
        text-align: center;
    }

    &__content{
        h3{
            color: theme('color.dark');
            font-weight: theme('font.weight.bold');
            font-size: theme('font.size.xxxl');
            margin-bottom: theme('margin.4');
        }
        p{
            font-size: theme('font.size.h5');
            color: theme('color.dark');
            margin-bottom: theme('margin.14');
        }

        .list-group{
            margin-bottom: theme('margin.14');
        }
    }
}