@media (max-width:theme('breakpoints.xxl','value')){
    .section--offset .icon {
        margin-top: -68px;
    }
}
@media (max-width:theme('breakpoints.md','value')){
    
    .section--offset .icon {
        margin-top: 20px;
    }
    .body .form-container {
        padding: 30px;
    }
}

