

.table {
    width: 100%;
    border-spacing: 0;
    font-size: 1.1rem
}

.table th {
    text-align: left;
    padding: 15px 10px;
    border-bottom: 2px solid #eee;
    font-weight: 600
}

.table td {
    text-align: left;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    color: #666;
    vertical-align: middle
}

.table td:first-child,
.table th:first-child {
    padding-left: 0
}

.table td:first-child.-style-bold {
    vertical-align: top;
    color: #333
}

.table td:last-child,
.table th:last-child {
    padding-right: 0
}



.tabled {
    width: 100%;
    display: table;
    border-top: 1px solid #e5e5e5;
}

.tabled .tabled__cell {
    display: table-cell;
    vertical-align: top;
    padding: 25px 15px;
    border-right: 1px solid #e5e5e5;
    line-height: 1.4;
}

.tabled .tabled__cell:last-child {
    border-right: none;
}

.tabled .tabled__cell h3 {
    line-height: 1;
}




.table-listing {
    width: 100%;
    border-spacing: 0 20px;
    font-size: 1.1rem;
    color: #333;
    border-collapse: separate;
}

.table-listing td {
    color: inherit;
    padding: 20px 20px 20px 0;
    position: relative;
    z-index: 1;
    background: #fff;
}

.table-listing tr {
    border-radius: 5px;
    position: relative;
    -webkit-transition: 0.5s all ease-in-out;
    -moz-transition: 0.5s all ease-in-out;
    -o-transition: 0.5s all ease-in-out;
    transition: 0.5s all ease-in-out;
}

.table-listing tr:nth-child(odd) td {
    background-color: #fff;
}

.table-listing td.td--check .checkbox {
    vertical-align: top;
}

.table-listing td:first-child {
    padding-left: 20px;
}

.table-listing td .avtar {
    display: inline-block;
    vertical-align: middle;
}

.table-listing tr.is-read td {
    color: #a7a7a7;
}

.table-listing tr.is-read td strong {
    font-weight: normal;
}

.table-listing .listing__desc {
    line-height: 1.4;
    max-width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.table-listing .listing__desc > a {
    display: block;
    color: inherit;
}

.table-listing .avtar__name {
    display: inline-block;
    margin: 0 0 0 5px;
    vertical-align: middle;
}


@media(min-width:1199px){
    .table-cols td:first-child {
        width: 25%;
    }


    
    .table-listing tr:hover {
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
        margin: -5px;
    }


}

@media(min-width:767px) {


    .table--cols.table td:first-child {
        padding-left: 15px;
        width: 25%;
    }
}

@media(max-width:1599px) {
    .table {
        font-size: 1rem
    }
}



@media(max-width:1023px) {

    .table-scroll {
        overflow: auto;
        white-space: nowrap
    }
}


@media(max-width:767px){
    
    .table {
        font-size: 1.1rem
    }


    .table tr td .td__caption {
        display: none !important
    }

    .table tr.-hide-mobile {
        display: table-row !important
    }



    .table tr:last-child {
        border-bottom: none;
    }


}

@media(max-width:400px) {
    .table tr td .td__caption {
        width: 100%;
        padding-bottom: 3px
    }

    .table tr td .td__data {
        width: 100%;
        padding-top: 5px
    }
}