.field_cover .select2-container--default .select2-selection--single {
   
    border: 1px solid #e5e5e5;
    height: 50px;
    width: 100%;
    color: #999;
    font-family: inherit;
    background-color: #fff;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.07);
    font-size: 1.1rem;
    line-height: 40px;
    border-radius: 4px;
}

.field_cover .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #999;
    font-family: inherit;
    height: 50px;
    font-size: 1.1rem;
    line-height: 40px;
}
.field_cover .select2-container--default .select2-selection--single .select2-selection__arrow b {
    padding-right: 30px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAFCAYAAAB8ZH1oAAAAI0lEQVQImWOYMmXKf2IwAwMDAwNRimCAKEW4FGNVhK4YXRwAe5JR6xMYuYgAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: calc(100% - 15px) center;
    line-height: 40px;
    border-color: transparent;
    border-width: unset;
}

.field_cover .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    position: absolute;
    top: 1px;
    right: 16px;
    width: 21px;
}

.field_cover .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {

    border-color: transparent;
    border-width: unset;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    height: 37px !important;
}