$montly-lesson-calendar: "montly-lesson-calendar";

.#{$montly-lesson-calendar} {
    
    .fc-header-toolbar{
        padding: var(--padding-6) var(--padding-6) 0;
        margin: 0 !important;
    }

    .fc-view-harness{
        margin: var(--padding-6);

        .fc-scrollgrid{
            border: 1px solid var(--color-gray-200);
        }

        
    }
}

$fc-scroller-harness: "fc-scroller-harness";

.#{$fc-scroller-harness} {
    .fc-col-header-cell{

        border: 1px solid var(--color-gray-200);
        
        .fc-scrollgrid-sync-inner{
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a{
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .fc-scrollgrid-sync-table{

        .fc-daygrid-day{
            border: 1px solid var(--color-gray-200);
        }

    }
}

.fc-scrollgrid-section{
    td{
        border: none;
    }
}

.fc-daygrid-day-frame{

    .fc-daygrid-day-top{
        justify-content: center;
    }
}