$montly-lesson-calendar: "montly-lesson-calendar";

.#{$montly-lesson-calendar} {
    
    .fc-header-toolbar{
        padding: var(--padding-6) var(--padding-6) 0;
        margin: 0 !important;
    }

    .fc-view-harness{
        margin: var(--padding-6);

        .fc-scrollgrid{
            border: 1px solid var(--color-gray-200);
        }

        
    }
}

$fc-scroller-harness: "fc-scroller-harness";

.#{$fc-scroller-harness} {
    .fc-col-header-cell{

        border: 1px solid var(--color-gray-200);
        
        .fc-scrollgrid-sync-inner{
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a{
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
    .fc-scrollgrid-sync-table{

        .fc-daygrid-day{
            border: 1px solid var(--color-gray-200);

            .fc-daygrid-event {
                background: var(--color-gray-100);
                padding: var(--padding-4) var(--padding-3);
                height: 50px;
                border-#{theme('direction.left','value')}: 2px solid var(--color-primary);
                border-radius: 0;
                margin-#{theme('direction.left','value')}: var(--margin-2) ;
                margin-#{theme('direction.right','value')}: var(--margin-2);
                margin-bottom: var(--margin-1) !important;
            }
        }

    }
}

$dashboard-calendar: "dashboard-calendar";

.#{$dashboard-calendar} {
    & .fc-daygrid-event{
        background: no-repeat !important;
        padding: 0 !important;
        height: 50px !important;
        border-left: none !important;
        display: flex;
        justify-content: center;

        & .fc-event-time{
            display: none;
        }
        & .fc-event-title{
            display: none;
        }
    }

    & .fc-daygrid-day-bottom{
        display: none;
    }
}

.fc-daygrid-day-frame{

    .fc-daygrid-day-top{
        justify-content: center;
    }
}

.fc-button-group .fc-button {
    background: transparent;
    border-radius: 0;
    margin: var(--margin-1);
    box-shadow: 1px 2px 2px 1px rgba(0,0,0,0.07);
    border: 1px solid var(--color-gray-200);
    width: 2.70rem;
    height: 2.70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
.fc-button-group .fc-button:focus{
    box-shadow: none;
}
.fc-button-group .fc-button:last-child {
    margin: var(--margin-1) !important;
}
.fc-button-group .fc-button .fc-icon {
    color: var(--color-black);
}
.fc-button-group .fc-button:hover{
    background-color: transparent;
    border-color:var(--color-gray-200);
}

.fc-event-main-frame .closeon {
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fc .fc-toolbar-title{
    font-size: 1.25em;
}

.fc-timegrid-event .fc-event-time{
    text-align: center;
}

.dashboard-calendar .fc-view-harness{
    height: 336px !important;
}

.scheduled-lesson-popup .box {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ececec;
}

.scheduled-lesson-popup .fc .fc-timegrid-slot{
    height: 1.9em;
}
.calendar-view.scheduled-lesson-popup .cal-status{
    margin-bottom: 0;
}
.scheduled-lesson-popup .box h4{
    margin-bottom: 10px;
}

.learnerscheduledlessons{
    .booking-view{
        text-align: left;
        .inline-list{
            margin-bottom: 10px;
        }
    }
}
.scheduled-lesson-popup{
    & .box{
        textarea{
            height: 100px;
        }
    }
}

@media (max-width:theme('breakpoints.md','value')) {
    .fc .fc-header-toolbar{
        flex-direction: column;
        align-items: end;
    }
    .fc-toolbar-chunk{
        margin-bottom: 10px;
    }
    .scheduled-lesson-popup h4{
        margin-bottom: 16px;
    }
}