.panel-nav{
    display: flex;
    justify-content: center;
    @media(max-width: theme('breakpoints.sm','value')) {
        justify-content: flex-start;
        overflow: auto;
    }
    ul{
        display: flex;
        align-items: center;
        li{
            padding: 0 1.2rem;
            a{
                text-transform: uppercase;
                color: inherit;
                height: 60px;
                align-items: center;
                display: flex;
                line-height: 1;
                color: var(--color-gray-500);
            }
        }
        .is--active{
            a{
                border-bottom: 2px solid var(--color-primary);
                color: var(--color-primary);
                font-weight: bold;
            }
        }
    }
}

.section--faq{
    background: var(--color-gray-100);
}

.faq-cover {
    max-width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search-panel{
    position: relative;
    width: 100%;
    margin-bottom: calc(var(--margin-12) - 1px);
    .icon{
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        #{theme('direction.left','value')}: 30px;
        position: absolute;
        width: 20px;
        height: 20px;
        fill: var(--color-gray-600);
        @media(max-width: theme('breakpoints.md','value')) {
            width: 18px;
            height: 18px;
            #{theme('direction.left','value')}: 13px;
        }
    }
    input[type="text"]{
        border-radius: 0;
        height: 80px;
        padding-#{theme('direction.left','value')}: var(--padding-20);
        padding-#{theme('direction.right','value')}: var(--padding-16);
        position: relative;
        border: 1px solid var(--color-gray-200);
        @media(max-width: theme('breakpoints.md','value')) {
            height: 60px;
            padding-#{theme('direction.left','value')}: var(--padding-12);
            padding-#{theme('direction.right','value')}: var(--padding-6);
        }
    }
    @media(max-width: theme('breakpoints.lg','value')) {
        margin-bottom: var(--margin-6);
    }
}

.faq-container{
    .faq-row {
        background: #fff;
        
        border: 1px solid var(--color-gray-200);
        position: relative;
        margin-bottom: calc(var(--margin-6) - 1px);
        counter-increment: counter-inc;

        @media(max-width: theme('breakpoints.md','value')) {
            margin-bottom: var(--margin-3);
        }
        .faq-title{
            padding: calc(var(--padding-10) + 2px) calc(var(--padding-10) + 2px);
            display: block;
            position: relative;
            padding-#{theme('direction.right','value')}: var(--padding-14);
            @media(max-width: theme('breakpoints.md','value')) {
                padding: var(--padding-5);
                padding-#{theme('direction.right','value')}: var(--padding-10);
            }
            @media(max-width: theme('breakpoints.xl','value')) {
                padding: var(--padding-6);
                padding-#{theme('direction.right','value')}: var(--padding-10);
            }
            h5{
                color: var(--color-dark);
                font-size: var(--font-size-h5);
                position: relative;
                
                &::before{
                    content: counter(counter-inc)".";
                    font-weight: bold;
                    margin-#{theme('direction.right','value')}: var(--margin-1);
                }
                
                @media(max-width: theme('breakpoints.md','value')) {
                    font-size: 1.1rem;
                    line-height: 1.6rem;
                }
            }
            &::before{
                content: "";
                position: absolute;
                height: 10px;
                width: 10px;
                background: transparent;
                border-#{theme('direction.right','value')}: 2px solid var(--color-dark);
                border-bottom: 2px solid var(--color-dark);
                transform: rotate(45deg)  translateY(-50%);
                #{theme('direction.right','value')}: 30px;
                top: 48%; 
                transition: all 0.3s;
                @media(max-width: theme('breakpoints.md','value')) {
                    height: 8px;
                    width: 8px;
                    #{theme('direction.right','value')}: 17px;
                }
                @media(max-width: theme('breakpoints.xl','value')) {
                    #{theme('direction.right','value')}: 26px;
                }
            }
        }
        .faq-answer{
            display: none;
            padding: 0 calc(var(--padding-10) + 1px) calc(var(--padding-10) + 3px);
            @media(max-width: theme('breakpoints.md','value')) {
                padding: 0 var(--padding-5) var(--padding-5);
            }
            @media(max-width: theme('breakpoints.xl','value')) {
                padding: 0 var(--padding-6) var(--padding-6);
            }
            p{
                margin-bottom: var(--margin-10);
                line-height: 30px;
                @media(max-width: theme('breakpoints.md','value')) {
                    margin-bottom: var(--margin-4);
                    line-height: 25px;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    .is-active{
        .faq-title{
            h5{
                color: var(--color-primary);
            }
            &::before{
                border-color: var(--color-primary);
                transform: rotate(-135deg);
            }
        }
    }
}

.contact-cta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 920px;
    margin: 0 auto;
    @media(max-width: theme('breakpoints.sm','value')) {
        flex-direction: column;
        align-items: center;
    }
    .contact__content{
        h3{
            font-size: calc(var(--font-size-h3) - 1px);
            color: var(--color-dark);
            margin-bottom: var(--margin-2);
        }
        p{
            font-size: var(--font-size-h5);
            margin-bottom: 0;
            @media(max-width: theme('breakpoints.md','value')) {
                font-size: 1.1rem;
            }
        }
        @media(max-width: theme('breakpoints.sm','value')) {
            text-align: center;
        }
        @media(max-width: theme('breakpoints.md','value')) {
            margin-bottom: var(--margin-6);
        }
    }
    .btn{
        width: 159px;
    }
}