.main__head {
    padding: var(--padding-12) 0;
    border-bottom: 1px solid var(--color-gray-300);
    @media(max-width: theme('breakpoints.xl','value')){
        padding: theme('padding.6') 0;
    }
}

.main__body{
    padding: calc(var(--padding-18) - 3px) 0;
}

.section--gray{
    background-color: var(--color-gray-100);
}

.filter__primary{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-form__inner{
    position: relative;
    @media(max-width: theme('breakpoints.md','value')){
        width: 100%;
    }
    @media(min-width: theme('breakpoints.md','value')) and (max-width: theme('breakpoints.xl','value')){
        width: 21%;
    }

    @media(min-width: theme('breakpoints.xl','value')) and (max-width: theme('breakpoints.xxxl','value')){
        width: 20%;
    }
    .filter__head{
        min-width: 200px;
        max-width: 200px;
        height: 60px;
        background-color: #fff;
        border: 1px solid var(--color-gray-200);
        display: flex;
        align-items: center;
        padding: 0 var(--padding-5);
        position: relative;
        padding-#{theme('direction.right','value')}: var(--padding-10);
        border-#{theme('direction.right','value')}: transparent;
        cursor: pointer;

        @media(max-width: theme('breakpoints.xxxl','value')){
            min-width: unset;
            max-width: unset;
            padding: 0 var(--padding-3);
            padding-#{theme('direction.right','value')}: var(--padding-8);
            &::before{
                #{theme('direction.right','value')}: 13px !important;
            }
        }

        @media(max-width: theme('breakpoints.md','value')){
            min-width: 100%;
            border-#{theme('direction.right','value')}: 1px solid var(--color-gray-200);
            border-bottom: none;
            &:last-child{
                border-bottom: 1px solid var(--color-gray-200);
            }
        }

        

        &::before{
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            background: transparent;
            border-right: 2px solid var(--color-gray-500);
            border-bottom: 2px solid var(--color-gray-500);
            transform: rotate(45deg);
            #{theme('direction.right','value')}: 24px;
            top: 24px;
        }
        input{
            border: none;
            padding: 0;
            color: inherit;
            margin-bottom: 2px;
            &:focus{
                box-shadow: none;
            }
            &::placeholder{
                color: inherit;
            }
            
        }
        .icon{
            min-width: 24px;
            height: 24px;
            margin-#{theme('direction.right','value')}: var(--margin-2);
            fill: var(--color-dark);
            opacity: 0.5;
        }
        h6{
            font-weight: normal;
            font-size: 14px;
            color: inherit;
        }

    }

    .filter__body {
        position: absolute;
        top: 100%;
        left: 0px;
        background: #fff;
        box-shadow: 0 5px 7px rgba(0,0,0,0.08);
        z-index: 1;
        border: 1px solid var(--color-gray-200);
        @media(max-width: theme('breakpoints.md','value')){
            width: 100%;
        }
    }

}

.filter--search{
    @media(min-width: theme('breakpoints.md','value')) and (max-width: theme('breakpoints.xl','value')){
        width: 37%;
        
        .icon{
            #{theme('direction.right','value')}: 6px !important;
        }
    }

    @media(min-width: theme('breakpoints.xl','value')) and (max-width: theme('breakpoints.xxxl','value')){
        width: 40%;
    }
    .filter__head{
        position: relative;
        border: 1px solid var(--color-gray-200);
        @media(min-width: theme('breakpoints.md','value')){
            padding-#{theme('direction.right','value')}: theme('padding.18');
        }

        @media(max-width: theme('breakpoints.md','value')){
            padding-#{theme('direction.left','value')}: theme('padding.14');
            padding-#{theme('direction.right','value')}: theme('padding.8');
        }

        @media(min-width: theme('breakpoints.xxxl','value')){
            max-width: 590px;
            min-width: 590px;
            width: 100%;
        }
    
        @media(min-width: theme('breakpoints.md','value')) and (max-width: theme('breakpoints.xl','value')){
            padding-#{theme('direction.right','value')}: var(--padding-12);
        }
    
        &::before{
            content: none;
        }
        .icon{
            width: 20px;
            height: 20px;
            opacity: 1;
            position: absolute;
            #{theme('direction.right','value')}: 13px;
            @media(max-width: theme('breakpoints.md','value')){
                #{theme('direction.left','value')}: 13px;
                #{theme('direction.right','value')}: unset;
            }
        }
        input{
            &::placeholder{
                color: var(--color-gray-700);
            }
        }
    }
}

.filter-form{

    .filter__secondary{
    
        .filter-group{
            @media(min-width: theme('breakpoints.xl','value')) {
                width: 100%;
                padding-top: var(--padding-3);
            }
        }
    }

}

.filter-group{
    @media(min-width: theme('breakpoints.xl','value')) {
        display: flex;
        align-items: center;
    }
}


.listing-dropdown{
    ul{
        max-height: 200px;
        overflow: auto;
        li{
            margin-bottom: var(--margin-4);
            &:last-child{
                margin-bottom: 0;
            }

            .checkbox{
                .input-helper{
                    &::before{
                        left: 3px;
                        bottom: 6.1px;
                    }
                    &::after{
                        left: 6px;
                        bottom: 3px;
                    }
                }
            }
        }
    }
}

.filter-group__inner{
    cursor: pointer;
    .filter__head{
        @media(min-width: theme('breakpoints.xl','value')) {
            position: relative;
            text-align: left;
            padding-#{theme('direction.right','value')}: var(--margin-6);
            margin-#{theme('direction.right','value')}: var(--margin-8);
            &::before{
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background: transparent;
                border-right: 2px solid var(--color-dark);
                border-bottom: 2px solid var(--color-dark);
                transform: rotate(45deg);
                #{theme('direction.right','value')}: 5px;
                top: 15px;
                opacity: 0.3;
            }
        }

        h6{
            @media(min-width: theme('breakpoints.xl','value')){
                padding: var(--padding-3) 0;
                color: var(--color-dark);
                font-weight: normal;
                font-size: 14px;
                
            }
        }
    }

    .filter__body {
        position: absolute;
        padding: var(--padding-4);
        background: #fff;
        z-index: 1;
        width: 235px;
        box-shadow: 0 5px 7px rgba(0,0,0,0.08);
        border: 1px solid var(--color-gray-200);

        @media(max-width: theme('breakpoints.xl','value')){
            position: static;
            width: 100%;
            box-shadow: none;
        }
    }
}


.sorting__head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-dark);
    margin-bottom: var(--margin-10);

    @media(max-width: theme('breakpoints.md','value')) {
        flex-direction: column;
    }
    @media(max-width: theme('breakpoints.xl','value')) {
        flex-wrap: wrap;

    }
}


@media(max-width: theme('breakpoints.xl','value')) {
    .sorting__box{
        display: flex;
        width: 100%;
        justify-content: space-between;
        select{
            width: 47%;
            border-radius: 0;
            padding: 0 var(--padding-5);
        }
        .btn--filter{
            width: 47%;
        }
    }
}

.sorting__box{
    @media(min-width: theme('breakpoints.sm','value')) and (max-width: theme('breakpoints.xl','value')){
        select{
            height: 50px;
        }
    }
}

.btn--filter{
    @media(min-width: theme('breakpoints.sm','value')) and (max-width: theme('breakpoints.xl','value')) {
        .btn{
            height: 50px;
        }
    }
}

.sorting__title{
    @media(max-width: theme('breakpoints.lg','value')) {
        margin-bottom: var(--margin-6);
    }
    h4{
        font-weight: 600;
        font-size: calc(var(--font-size-h4) - 1px);
        color: #333;

        @media(max-width: theme('breakpoints.md','value')) {
            font-size: 1.2rem;
        }
        b{
            font-weight: bold;
            border-bottom: 1px solid var(--color-gray-700);
        }
        
    }
}

.listing__title{
    @media(min-width: theme('breakpoints.md','value')) and (max-width: theme('breakpoints.xl','value')) {
        margin-bottom: var(--margin-6);
    }
}

.sorting__box{
    @media(min-width: theme('breakpoints.xl','value')) {
        &::before{
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            background: transparent;
            border-right: 2px solid var(--color-dark);
            border-bottom: 2px solid var(--color-dark);
            transform: rotate(45deg);
            #{theme('direction.right','value')}: 15px;
            top: 15px;
            opacity: 0.2;
        }
        &{
            display: flex;
            align-items: center;
            width: 200px;
            color: var(--color-dark);
            background: #fff;
            
            height: 42px;
            border: 1px solid var(--color-gray-200);
            position: relative;
            b{
                white-space: nowrap;
                margin-right: var(--margin-1);
            }
        }
        &{
            select{
                padding: 0 var(--padding-6);
                background-image: none;
                background-color: transparent;
                border: none;
                color: inherit;

            }
        }
        .btn--filter{
            display: none;
        }
    }
}

.box-wrapper{
    .box{
        background-color: var(--color-white);
        display: flex;
        flex-wrap: wrap;
        
    }
}

$box__primary: "box__primary";

.#{&box__primary} {
    padding: theme('padding.12');

    // @media(min-width: theme('breakpoints.xxl','value')){
    //     min-width: 760px;
    //     max-width: 760px;
    // }

    @media(min-width: theme('breakpoints.lg','value')){
        width: calc(100% - 420px);
    }

    @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xl','value')){
        width: calc(100% - 350px);
    }

   
    @media(max-width: theme('breakpoints.xl','value')){
        padding: theme('padding.6'); 
    }
    @media(max-width: theme('breakpoints.md','value')){
        padding: theme('padding.4');  width: 100%;
    }

    // @media(min-width: theme('breakpoints.lg','value')){
    //     max-width: 700px; padding: var(--padding-8);
    // }
}

.list__head{
    text-align: center;
    float: left;
    clear: left;
    @media(min-width: theme('breakpoints.md','value')){
        max-width: 140px;
    }

    @media(max-width: theme('breakpoints.md','value')){
        margin-#{theme('direction.right','value')}: theme('margin.6');
    }

    .list__media{
        margin-bottom: var(--margin-5);
        .avtar{
            width: 140px;
            height: 140px;
            border-radius: 0;
            @media(max-width: theme('breakpoints.md','value')){
                margin: 0 auto;
                width: 80px;
                height: 80px;
            }
        }
    }
    .list__price{
        p{
            font-weight: bold;
            color: var(--color-dark);
            border-bottom: 1px dashed;
            display: inline-block;
            line-height: 18px;
            margin-bottom: 13px;
            @media(max-width: theme('breakpoints.md','value')){
                color: theme('color.primary');
            }
        }
        @media(max-width: theme('breakpoints.md','value')){
            text-align: left;
        }
    }
}

.list__body{
    
    @media(min-width: theme('breakpoints.md','value')){
        max-width: calc(100% - 180px);
    }
    @media(min-width: theme('breakpoints.md','value')){
        float: right;
        clear: right;
    }
}

.list__action{
    float: left;
    clear: left;
    @media(min-width: theme('breakpoints.md','value')){
        max-width: 140px;
    }
    @media(max-width: theme('breakpoints.md','value')){
        width: 100%;
    }
    .list__action-btn{
        .btn{
            margin-bottom: var(--margin-3);
            &:last-child{
                margin: 0;
            }
        }
        @media(max-width: theme('breakpoints.md','value')){
            display: flex;
            width: 100%;
            .btn{
                margin-bottom: 0;
                margin-#{theme('direction.right','value')}: var(--margin-4);
                &:last-child{
                    margin-#{theme('direction.right','value')}: 0;
                }
            }
        }
    }
    
}


.profile-detail{
    color: var(--color-dark);
    .profile-detail__head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--margin-3);
    }
}

.tutor-name{
    display: flex;
    align-items: center;
    @media(max-width: theme('breakpoints.md','value')){
        width: 100%;
    }
    h4{
        font-weight: bold;
        color: inherit;
        font-size:theme('font.size.h5');
        @media(max-width: theme('breakpoints.md','value')){
            font-size: theme('font.size.lg');
            width: 80%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .flag{
        margin-#{theme('direction.left','value')}: var(--margin-4);
        @media(max-width: theme('breakpoints.md','value')){
            margin-#{theme('direction.left','value')}: auto;
        }
    }
}   

.profile-detail__body{
    .info-wrapper{
        margin-bottom: var(--margin-6);
        flex-wrap: wrap;
        .ratings{
            @media(max-width: theme('breakpoints.sm','value')){
                margin-#{theme('direction.right','value')}: 0;
            }
        }
        .list-count{

            .total-count{
                @media(max-width: theme('breakpoints.md','value')){
                    margin-#{theme('direction.right','value')}: theme('margin.3');
                    margin-#{theme('direction.left','value')}: theme('margin.0');
                }
            }
        }
    }
}

.tutor-info{
    @media(max-width: theme('breakpoints.md','value')){
        clear: left;
        width: 100%;
    }
}

.follow{
    @media(max-width: theme('breakpoints.md','value')){
        position: absolute;
        top: 15px;
        #{theme('direction.left','value')}: 15px;
    }
    a{
        width: 36px;
        height: 36px;
        padding: 5px;
        background: rgba(0,0,0,0.1);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon{
            width: 16px;
            height: 14px;
            opacity: 0.6;
        }
    }
    .is--active{
        background-color: var(--color-primary);
        .icon{
            fill: var(--color-white);
            opacity: 1;
        }
    }
}



.tutor-info__inner{
    margin-bottom: theme('margin.6');
    @media(max-width: theme('breakpoints.md','value')){
        margin-bottom: theme('margin.4');
    }
    .info__title{
        margin-bottom: 5px;
        h6{
            font-size: 14px;
            font-weight: 600;
            color: inherit;
        }
    }
    .info__language{
        color: #333;
        line-height: 20px;
    }   
}

.info--about{
    margin-bottom: 0;
    @media(max-width: theme('breakpoints.md','value')){
        display: none;
    }
}

.about__detail{
    p{
        margin-bottom: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical; 
    }
    a{
        display: inline;
        color: var(--color-black);
        text-decoration: underline;
    }
}

.list__action{
    position: relative;

    .link-detail{
        @media(min-width: theme('breakpoints.md','value')){
            display: none;
        }
    }
}

.link-detail{
    transition: all 0.2s;
    padding: var(--padding-3);
    color: var(--color-primary);
    font-weight: 600;
    text-decoration-style: dotted;
    text-decoration-color: var(--color-primary);
    text-decoration: underline;
    white-space: nowrap;
    @media(min-width: theme('breakpoints.xl','value')){
        opacity: 0;
        visibility: hidden;
        position: absolute;
        bottom: -27px;
        left: 50%;
        transform: translatex(-50%);
    }

    @media(max-width: theme('breakpoints.xl','value')){
        display: block;
        font-weight: theme('font.weight.bold');
        padding: theme('padding.8') theme('padding.0') theme('padding.6');
        text-align: center;
        font-size: theme('font.size.sm');
    }
}


.box-list{
    transition: all 0.2s;
    @media(min-width: theme('breakpoints.xl','value')){
        &:hover{
            box-shadow: theme('boxShadow.vertical');
            .link-detail{
                opacity: 1;
                visibility: visible;
                bottom: -24px;
            }

        }
    }
}

.box__secondary{
    border-left: 1px solid var(--color-gray-200);

    @media(min-width: theme('breakpoints.lg','value')){
        width: 420px;
    }
    @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xl','value')){
        width: 350px;
    }

    @media(max-width: theme('breakpoints.lg','value')){
        border: none;
        width: 100%;
    }

    @media(max-width: theme('breakpoints.md','value')){
        display: none;
    }
}

.custom-calendar{
    tbody{
        td{
            position: relative;
            padding: var(--padding-2) var(--padding-1);
            &:first-child{
                .cal-cell{
                    background-color: transparent;
                    border: none;
                    width: 45px;
                    color: var(--color-gray-800);
                }
            }
            .cal-cell{
                width: 33px;
                height: 19px;
                background-color: var(--color-gray-100);
                @media(max-width: theme('breakpoints.md','value')){
                    width: 30px;
                    
                }

                @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xl','value')){
                    width: 30px;
                }

                @media(max-width: theme('breakpoints.lg','value')){
                    margin: 0 auto;
                }
            }
            .tooltip{
                width: 48px;
                height: 21px;
                border-radius: 2px;
                line-height: 13px;
                justify-content: center;
            }
            .cell-green-100{
                background-color: var(--color-green);
             }
             .cell-green-80{
                 background-color: theme('color.green-80');
             }
             .cell-green-60{
                 background-color: theme('color.green-60');
             }
             .cell-green-40{
                 background-color: theme('color.green-40');
             }
        }
        
        
    }
    thead{
        th{
            text-transform: uppercase;
            text-align: center;
            font-size: 12px;
            padding-bottom: var(--padding-2);
        }
    }

    .link-detail{

    }
}

.panel-box{
    .panel-box__head{
        border-bottom: 1px solid var(--color-gray-200);
        ul{
            display: flex;
            align-items: center;
            @media(min-width: theme('breakpoints.lg','value')){
                justify-content: center;
            }

            li{
                .panel-action{
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 0 var(--padding-5);
                    color: rgba(0,0,0,0.7);
                }
            }
            .is--active{
                position: relative;
                .panel-action{
                    font-weight: 600;
                    color: var(--color-dark);
                }
                &::before{
                    content: "";
                    position: absolute;
                    width: calc(100% - 34px);
                    height: 2px;
                    background: var(--color-primary);
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            &:last-child{
                a{
                    justify-content: flex-start;
                }
            }
        }
    }
    .panel-box__body {
        padding: var(--padding-10);
        position: relative;
        @media(max-width: theme('breakpoints.md','value')){
            padding: var(--padding-6);
        }

        @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xl','value')){
            padding: var(--padding-8) var(--padding-6);
        }
    }
}

.dummy-video{
    position: relative;
    &:before{
        content: "";
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.3);
        pointer-events: none;
    }
    .icon-play{
        width: 50px;
        height: 33px;
        background-color: rgba(255, 0, 0, 0.8);
        border-radius: 8px;
        position: absolute;
        top: 50%;
        #{theme('direction.left','value')}: 50%;
        transform: translate(-50%, -50%);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
        &::before{
            content: "";
            position: absolute;
            border-#{theme('direction.right','value')}: 7px solid transparent;
            border-#{theme('direction.left','value')}: 7px solid transparent;
            border-top: 10px solid #fff;
            transform: rotate(-90deg);
            top: 12px;
            #{theme('direction.left','value')}: 20px;
            pointer-events: none;
        }
    }
}

.show-more{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    .btn--show{
        color: theme('color.gray-dark');
        background-color: #fff;
        border: 1px solid var(--color-gray-200);
        font-weight: 600;
        height: 40px;
        width: 242px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdown-listing{
    width: 236px;
    padding: var(--padding-4) 0;
    @media(max-width: theme('breakpoints.md','value')){
        width: 100%;
    }
    ul{
        max-height: 300px;
        overflow: auto;
        li{
            &:hover{
                a{
                    background-color: var(--color-gray-100);
                }
            }
            a{
                display: block;
                padding: var(--padding-2) var(--padding-6);
            }
        }
        .is--active{
            color: var(--color-primary);
            position: relative;
            &::before{
                position: absolute;
                #{theme('direction.left','value')}: 0;
                #{theme('direction.right','value')}: 0;
                bottom: 0;
                top: 0;
                content: "";
                pointer-events: none;
                background-color: currentColor;
                opacity: 0.04;
            }
        }
    }
}


.dropdown-availbility{
    width: 480px;
    padding: var(--padding-6);
    @media(max-width: theme('breakpoints.md','value')){
        width: 100%;
    }
    .availbility-title{
        color: var(--color-dark);
        margin-bottom: var(--margin-4);
        font-weight: 600;
    }
}

.selection-tabs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;  
}

.selection--days{
    flex-wrap: wrap;
    .selection-tabs__label{
        flex: 0 0 33.3%;
        max-width: 33.3%;
        
    }
}

.selection-tabs__label{
    position: relative;
    overflow: auto;
    margin-bottom: var(--margin-3);
    padding: var(--padding-1);
    &:last-child{
        .selection-tabs__title{
            margin-#{theme('direction.right','value')}: 0;
        }
    }
}

.selection-tabs__input {
    position: absolute;
    opacity: 0;
}

.selection-tabs__title{
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: var(--padding-2) var(--padding-4);
    border: 1px solid var(--color-gray-200);
    font-size: var(--font-size-sm);
}

.selection-tabs__input:checked + .selection-tabs__title {
    color: var(--color-primary);
    border-color: var(--color-primary);
    position: relative;
    &:before{
        position: absolute;
        #{theme('direction.left','value')}: 0;
        #{theme('direction.right','value')}: 0;
        bottom: 0;
        top: 0;
        content: "";
        pointer-events: none;
        background-color: currentColor;
        opacity: 0.04;
    }
    svg{
        fill: var(--color-primary) !important;
    }
}

.dropdown-price{
    width: 280px;
    padding: var(--padding-3) var(--padding-4);
    @media(max-width: theme('breakpoints.md','value')){
        margin: 0 auto;
    }
}


.video-media{
    img{
        margin: 0 auto;
    }
}
.filter-group{
    @media(max-width: theme('breakpoints.xl','value')){
        bottom: 0;
        background: #fff;
        padding: 0;
        box-shadow: 0 0 10px rgba(0,0,0,0.38);
        #{theme('direction.left','value')}: 0;
        margin: 0;
        overflow: auto;
        position: fixed;
        text-align: left;
        top: 0;
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        width: 280px;
        transition: all 300ms ease 0s;
        transform: translate3d(-100%, 0px, 0px);
    }
}

.show-filters-js {
    .filter-group{
        @media(max-width: theme('breakpoints.xl','value')){
            opacity: 1;
            transform: translate3d(0px, 0px, 0px);
            visibility: visible;
        }
    }
}

.show-filters-js {
    .overlay--filters{
        @media(max-width: theme('breakpoints.xl','value')){
            display: block;
        }
    }
}

.filter__head{
    @media(max-width: theme('breakpoints.xl','value')){
        padding: var(--padding-4) var(--padding-6);
        position: relative;
        border-bottom: 1px solid var(--color-gray-300);
        &::before{
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            background: transparent;
            border-right: 2px solid var(--color-gray-500);
            border-bottom: 2px solid var(--color-gray-500);
            transform: rotate(45deg);
            #{theme('direction.right','value')}: 24px;
            top: 17px;
        }
        h6{
            font-weight: normal;
            color: var(--color-gray-000);
        }
    }
}

.filter-tags-list{
    li{
        display: inline-block;
        padding: 10px 10px 10px 0;
        vertical-align: top;
        a{
            position: relative;
            background: var(--color-primary);
            color: var(--color-white);
            border-radius: 3px;
            padding: 0 var(--padding-10) 0 var(--padding-3);
            line-height: 30px;
            display: block;
            font-size: var(--font-size-small);
            &:after{
                width: 20px;
                height: 20px;
                border-radius: 100%;
                background: #fff;
                content: "+";
                position: absolute;
                #{theme('direction.right','value')}: 7px;
                top: 5px;
                line-height: 19px;
                text-align: center;
                transform: rotate(45deg);
                font-size: 1.2rem;
                transform-origin: center center;
                color: var(--color-primary);
            }
        }
    }
    .clear-filter{
        a{
            background: none;
            color: var(--color-dark);
            text-decoration: underline;
            padding: 0;
            &::after{
                content: none;
            }
        }
    }
}


.search-field{
    position: relative;
    .input-search{
        padding-left: var(--padding-12);
        margin-bottom: var(--margin-4);
        border-radius: 0;
    }
    .icon--search{
        width: 20px;
        height: 20px;
        position: absolute;
        left: 12px;
        top: 10px;
        fill: var(--color-gray-600);
    }
}

.filter-tags {
    padding: var(--padding-4) 0;
    border-bottom: 1px solid var(--color-gray-300);
}

.price-field {
    padding: var(--padding-4) 0 0;
    display: flex;
    .input-field{
        position: relative;
        margin-#{theme('direction.right','value')}: var(--margin-3);
        &:last-child{
            margin: 0;
        }

        span{
            position: absolute;
            left: 14px;
            top: 12px;
            color: var(--color-primary);
            font-weight: 600;
        }

        input[type="number"]{
            border-radius: 0;
            padding-#{theme('direction.left','value')}: var(--padding-10);
            
        }
    }
}