
/* listing */
.section--listing {
    padding: 40px 0;
}

.section--search {
    background: #fff;
    padding: 20px 0;
    box-shadow:theme('boxShadow.1');
}

.section__tags {
    border-top: 1px solid #eee;
    padding: 0 0;
    background: #fff;
    position: relative;
    z-index: 1;
}


.form__element {
    position: relative;
}

.form-filters .form__element {
    width: 50%;
    float: #{theme('direction.left','value')};
}

.form-filters .form__element:first-child input {
    border-#{theme('direction.right','value')}: none;
}

.form-filters .form__element:after {
    position: absolute;
    #{theme('direction.right','value')}: 20px;
    top: 50%;
    content: "";
    border-#{theme('direction.left','value')}: 5px solid transparent;
    border-#{theme('direction.right','value')}: 5px solid transparent;
    border-top: 6px solid #333;
    pointer-events: none; margin-top: -3px;
}



.form-filters .form__element .svg-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    #{theme('direction.left','value')}: 20px;
    top: 50%; margin-top: -8px;
}


// .form__element .form__input {
//     border-radius: 0;
//     box-shadow: none;
//     height: 60px;
//     padding-#{theme('direction.right','value')}: 50px;
//     line-height: 60px;
// }

.form-filters .form__element .form__input {
    padding-#{theme('direction.left','value')}: 50px;
	    cursor: default;
}

.form-search .form__action {
    width: 100%;
    height: 100%;
    position: absolute;
    #{theme('direction.right','value')}: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.form-search .form__action-wrap {
    position: absolute;
    #{theme('direction.right','value')}: 0;
    top: 0;
    width: 40px;
    height: 50px;
}
.form-search--inline .keyword-search {
    padding-#{theme('direction.left','value')}:20px; padding-#{theme('direction.right','value')}: 40px;
}
.form-search .form__action-wrap .svg-icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 21px;
    height: 20px;
    margin: auto;
    pointer-events: none;
}

.form-search .form__action-wrap .svg-icon svg {
    height: 100%;
}

.form__element .form__target {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    max-height: 400px;
    overflow: auto; box-shadow:theme('boxShadow.vertical');
}

.form__element.form-target-visible .form__target {
    display: block;
}


.txt-inline strong {
    font-weight: 600; margin-#{theme('direction.left','value')}: 4px;
}

.txt-inline .txt-inline__tag {
    margin-bottom: 6px;
    display: inline-block;
    vertical-align: top;
}


/* @media (min-width:767px){
.form__element.form-target-visible:before{position: fixed;left: 0;right: 0; top: 0; bottom: 0;content: "";background: rgba(243,242,245,0.8);z-index: -1;}
}     */

.section--listing.section-invisible {
    z-index: -2;
}

.tag-list li {
    display: inline-block;
    padding: 10px 10px 10px 0; padding-#{theme('direction.left','value')}: 0;
    vertical-align: top;
}

.tag-list li a {
    height:30px;
    line-height: 30px;
    display: block; font-size: 11px; text-transform: uppercase;
}

.tag-list li a.tag__clickable {
    position: relative;
    background: #e9e8eb;
    border-radius: 3px;
    padding-#{theme('direction.left','value')}: 20px; padding-#{theme('direction.right','value')}: 45px;
}

.tag-list li a.tag__clickable:after {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    content: "+";
    position: absolute;
    #{theme('direction.right','value')}: 12px;
    top: 50%;
    line-height: 19px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 1.2rem;
    transform-origin: center center; margin-top: -10px;
}

.sort-by {
    margin: 0 0 30px;
}

.sort-by select {
    box-shadow: none;
}




.box-language .language,
.border-box .language,
.my_teacher_langauges .language {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 100%;
}

.box-language .language span,
.border-box .language span,
.my_teacher_langauges .language span {
    float: #{theme('direction.left','value')};
    line-height: 24px;
    margin: 0px 3px;
    position: relative;
  
}

.my_teacher_langauges .language span:first-child {
    margin-#{theme('direction.left','value')}: 0;
}

.my_teacher_langauges .language ul li span.plus {
    margin-#{theme('direction.left','value')}: 5px;
}

.box-language .language span.main-language:after {
    content: ",";
    position: absolute;
}

.box-language .language span.main-language:last-child:after {
    content: "";
}

.box-language .language ul,
.border-box .language ul,
.my_teacher_langauges .language ul {
    margin-#{theme('direction.right','value')}: 0px;
}

.box-language .language .more_listing ul:after,
.border-box .language .more_listing ul:after,
.my_teacher_langauges .language .more_listing ul:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-secondary);
    content: " ";
    position: absolute;
    top: -7px;
    #{theme('direction.right','value')}: 11px;
}



.box-language .language ul li,
.border-box .language ul li,
.my_teacher_langauges .language ul li {
    position: relative;
}

.box-language .language .plus,
.my_teacher_langauges .language .plus {
    background: var(--color-secondary);
    border-radius: 3px;
    padding: 0px 9px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    float: #{theme('direction.left','value')};
    cursor: pointer;
    height: 24px;
    position: relative;
    line-height: 24px;
}



.border-box .language .plus {
    background: var(--color-secondary);
    border-radius: 3px;
    padding: 1px 9px;
    font-weight: 600;
    color: #fff;
    font-size: 16px;
    float: #{theme('direction.left','value')};
    cursor: pointer;
    height: 32px;
    position: relative;
    line-height: 32px;
}



.box-language .language .more_listing,
.border-box .language .more_listing,
.my_teacher_langauges .language .more_listing {
    display: none;
    width: 150px;
    position: absolute;
    #{theme('direction.left','value')}: 0px;
    padding-top: 35px;
}

.box-language .language ul li:hover .more_listing,
.border-box .language ul li:hover .more_listing,
.my_teacher_langauges .language ul li:hover .more_listing {
    display: block;
}

.box-language .language .more_listing ul,
.border-box .language .more_listing ul,
.my_teacher_langauges .language .more_listing ul {
    background: var(--color-secondary);
    margin-top: 20px;
    z-index: 555;
    border-radius: 2px;
    margin: 0px;
    position: relative;
    padding: 6px;
}

.box-language .language .more_listing li a,
.border-box .language .more_listing li a,
.my_teacher_langauges .language .more_listing li a {
    color: #fff;
    display: block;
    padding: 5px 7px;
}

.my_teacher_lang_heading {
    display: inline;
}

.language .more_listing ul li a {
    word-break: break-all;
}

.grid-group {
    margin-#{theme('direction.left','value')}: -10px;
 }
 
 .grid-group .grid {
     display: inline-block;
     padding-bottom:20px; padding-#{theme('direction.left','value')}: 10px;
     vertical-align: top;
 }
 
 .grid-group .grid span {
     display: block;

 }


 .form-filters .form__input,  .form-search .form__input{
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding-right: 50px;
    line-height: 60px;
 }

 .box-list .avtar {
    width: 10.5rem;
    height: 10.5rem;
    font-size: var(--font-size-xl);
}

.btn.btn--bordered {
    background: #fff;
    color: var(--color-dark);
    border: 1px solid rgba(0,0,0,.1);
}

.box__profile-head .avtar {
    width: 150px;
    height: 150px;
}
.section--black {
    background: #1a1a1a;
    color: #fff;
}
.settings-group .btn.btn--bordered{
    color: #fff;
}
.footer-inline li a, .footer-inline li p {
    color: #fff;
    font-size: 0.857rem;
    font-weight: 400;
}

                                                                           

.fat-tab .tab {
    display: none;
    position: relative;
  }
  .fat-tab .tab-active {
    display: block;
  }
  .fat-tab .tab-group ul {
    display: flex;
  }
  .tab-group li.is-active {
    background: var(--color-secondary);
    z-index: 1;
  }
  .tab-group li.is-active a {
    color: #fff;
  }
  .tab-group li {
    padding: 8px 17px;
    margin: 0 -3px;
    border-radius: 5px;
    width: 73px;
    background-color: var(--color-grey-light);
    text-align: center;
  }
  .tab-group li a {
    font-size: 13px;
    color: var(--color-grey);
    font-weight: 600;
  }
  .fat-tab .box-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light);
  }
  .fat-tab .box-head h4 {
    margin-bottom: 0;
  }
  .Lprice__wrapper {
    color: var(--color-dark);
  }
  .Lprice__wrapper .Lprice-head {
    margin-bottom: 10px;
    padding: 20px 20px 0;
  }
  .Lprice__wrapper .Lprice-body li {
    position: relative;
  }
  .Lprice__wrapper .Lprice-body li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 30px;
  }
  .Lprice__wrapper .Lprice-body li .Lprice-price {
    font-weight: 600;
    color: inherit;
    background: #fff;
    padding: 0 0 0 12px;
    z-index: 1;
    line-height: 30px;
  }
  .Lprice__wrapper .Lprice-body li .Lprice-lang {
    background: #fff;
    padding: 0 12px 0 0;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 30px;
    display: block;
    white-space: nowrap;
    max-width: 130px;
  }
  .Lprice-body li:before {
    content: "";
    position: absolute;
    width: calc(100% - 40px);
    height: 1px;
    bottom: 0;
    left: 50%;
    background: #dedede;
    transform: translateX(-50%);
  }
  .Lprice-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #fff;
    position: relative;
    z-index: 1;
  }
  .Lprice-btn a.btn {
    width: calc(100% - 53%);
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 0 12px;
  }
  .btn.btn-outline-primary {
    background: none;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
  }
  #style-4::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }
  #style-4::-webkit-scrollbar {
    width: 5px;
    background-color: #d9d9d9;
  }
  #style-4::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
  } /* .custom-scrollbar { max-height: 224px; overflow-y: scroll; padding-right: 12px; } */
  .Lprice-cover {
    margin-bottom: 30px;
  }
  .Lprice__wrapper:last-child,
  .Lprice__wrapper .Lprice-body li:last-child {
    margin-bottom: 0;
  }
  .Lprice__wrapper .Lprice-body li:hover {
    background: #e9e8eb;
  }
  .Lprice__wrapper .Lprice-body li:hover .Lprice-lang,
  .Lprice__wrapper .Lprice-body li:hover .Lprice-price {
    background: #e9e8eb;
  }
  .Lprice-btn .btn-outline-primary:hover {
    color: var(--color-primary);
    background: transparent;
    border-color: var(--color-primary);
  }
  .box--sticky {
    position: sticky;
    top: 88px;
  }


  .calendar-view {
    background: #fff;
    padding: 20px;
}

.calendar-view [class*="col-"]:last-child {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: flex-end;
}

.calendar-view .cal-status {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    align-items: center;
    margin-bottom: 10px;

}

.calendar-view p {
    margin: 0;
}

.calendar-view .fc-state-default {
    background: #fff;
}

.calendar-view .fc-state-disabled.fc-today-button.fc-button {
    cursor: default;
}

.calendar-view .fc button {
    height: 35px;
}

.calendar-view .fc-toolbar .fc-left h2 {
    font-size: 1.3rem;
    line-height: 35px;
}

.calendar-view .fc-unthemed th {
    padding: 30px 0 10px;
    /* border-color:#eee; */
}

.calendar-view .fc-unthemed th.fc-axis.fc-widget-header {
    width: 46px !important;
}

.calendar-view .fc-unthemed td {
    /* border-color:#eee;  */
    text-align: center;
}

.calendar-view .fc-unthemed .fc-today {
    background: #f9f5fe !important;
    font-weight: 700;
    color: var(--color-secondary);
}

.calendar-view .fc-unthemed .fc-today.fc-day-top {
    border-color: transparent !important;
}

.calendar-view .fc-unthemed .fc-today.fc-day {
    border-color: #eee !important;
}

.calendar-view .fc-unthemed .fc-row.fc-rigid .fc-content-skeleton {
    top: 10px;
}

.calendar-view .fc-unthemed .fc-more-cell {
    position: relative;
}

.calendar-view .fc-unthemed .fc-more-cell .fc-more {
    /* position:absolute;top:-70px;left:0;right:0; */
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--color-secondary);
    text-transform: uppercase;
    display: block;
    margin: 10px 0 0;
}

.calendar-view .fc-unthemed .fc-day-top .fc-day-number {
    float: none !important;
}

.calendar-view .fc-unthemed .fc-popover {
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.04);
}

.calendar-view .fc-unthemed .fc-popover .fc-header {
    padding: 0;
    background: #fff;
    margin-bottom: 10px;
}

/* .calendar-view .fc-more-popover .fc-event-container{padding:0;display: flex; flex-wrap: wrap;} */
.calendar-view .fc-event-container .fc-day-grid-event {
    background: var(--color-secondary);
    border: none;
    color: #fff;
    padding: 5px;
    text-align: #{theme('direction.left','value')};
}

.calendar-view .fc-more-popover .fc-event-container {
    padding: 0;
}


.calendar-view .fc-more-popover .fc-event-container .fc-day-grid-event {
    background: var(--color-secondary);
    border: none;
    margin: 5px 0 0;
}

.calendar-view .fc-event-container .fc-day-grid-event .fc-content {
    color: #fff !important;
}

.calendar-view .fc-event-container .fc-day-grid-event .fc-content .avtar {
    float: #{theme('direction.left','value')};
    margin-#{theme('direction.right','value')}: 10px;
}

.calendar-view .fc-day-grid-event .fc-time {
    font-weight: normal;
    text-transform: uppercase;
   padding-#{theme('direction.left','value')}: 10px;
    display: block;
}

.calendar-view .fc-day-grid-event .fc-title {
    font-weight: 600;
    display: block;
    font-size: 1rem;
}
 

@media (min-width: theme('breakpoints.xl','value')){
    
    #left__fixed.stick {
        position: fixed;
        width: 376px;
    }
}

@media (max-width:theme('breakpoints.xl','value')){
    

    .tag-list li a {
        height: 30px;
        line-height: 30px;
    }

    .tag-list li a.tag__clickable:after {
        #{theme('direction.right','value')}: 5px;
    }

    .form-filters .form__element .svg-icon {
        #{theme('direction.left','value')}: 15px;
    }

    .form-filters .form__element:after {
        #{theme('direction.right','value')}: 14px;
    }

    .form-filters .form__element .form__input {
        padding-#{theme('direction.left','value')}: 40px;
        padding-#{theme('direction.right','value')}: 30px;
    }

    .section--listing,
    .section {
        padding: 30px 0;
    }

    .section--search {
        padding: 20px 0;
    }

    .filters {
        bottom: 0;
        background: #fff;
        padding: 0;
        box-shadow: 0 0 10px rgba(51, 51, 51, 0.38);
        #{theme('direction.left','value')}: 0;
        margin: 0;
        overflow: auto;
        position: fixed;
        text-align: #{theme('direction.left','value')};
        top: 0;
        transform: translate3d(-100%, 0px, 0px);
        -webkit-transform: translate3d(-100%, 0px, 0px);
        -ms-transform: translate3d(-100%, 0px, 0px);
        transition: all 300ms ease 0s;
        -webkit-transition: all 300ms ease 0s;
        -ms-transition: all 300ms ease 0s;
        opacity: 0;
        visibility: hidden;
        z-index: 11;
        width: 280px;
    }

    html.show-filters-js .filters {
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
        -webkit-transform: translate3d(0px, 0px, 0px);
        -ms-transform: translate3d(0px, 0px, 0px);
        visibility: visible;
    }

    html.show-filters-js {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    html.show-filters-js .overlay--filters {
        display: block;
    }

    
    .box--cta .btn.btn--block {
        width: auto;
        display: inline-block;
        padding: 0 30px;
    }
    .box-list__head {
        display: block !important;
    }

    .box-list__head .btn--fav {
        margin: 10px 0;
    }

    .box__description {
        min-height: 1%;
    }
    .box__slip {
        width: 100%;
        text-align: #{theme('direction.left','value')};
        z-index: 1;
    }
    .box-list__head .btn--fav {
        font-size: 1rem;
    }

    .grid-group .grid span {
        padding: 6px 10px;
    }

    .grid-group .grid {
        padding-bottom: 10px;
    }

    .grid-group {
        margin-bottom: 10px;
    }

    .box-list__body .grid-group .grid span strong {
        word-break: break-all;
    }
    .form-filters .form__element {
        width: 50%;
        float: left;
    }
    .tabled-box {
        margin: 0 -10px;
    }
    .tabled-box ul {
        width: 100%;
        display: flex;
       align-items: center;
    }
    .tabled-box ul li { flex: 1;
         padding: 0 10px;
    }
    .sort-by{margin-bottom: 0;}

}

@media (max-width:theme('breakpoints.md','value')){

    .form-filters .form__element:first-child input {
        border-bottom: none;
    }

    .form-filters .form__element {
        width: 100%;
        float: none;
    }

    .form-filters .form__element:first-child input {
        border-#{theme('direction.right','value')}: 1px solid #e5e5e5;
    }

    .form-filters .form__element:after {
        #{theme('direction.right','value')}: 26px;
    }
    .tabled-box ul li {
        display: block !important;
    }

}

@media (max-width:theme('breakpoints.sm','value')){
    .teacher__info {
        text-align: center;
        margin-top: 10px;
    }
    .box__profile-head .location .svg-icon{
        display: none;
    }
    .teacher__info .box__price {
        padding: theme('padding.2') 0;
        border: 1px solid #ddd;
        border-left: 0;
        border-right: 0;
    }
}


