.section--listing {
    background: #F4F5F9;
}

.section--search {
    padding: var(--padding-8) 0;
    position: relative;

    &::before{
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: rgba(0,95,185,0.9);
        top: 0;
        pointer-events: none;
    }
}


$form-filters: "form-filters";

.#{&form-filters} {

    .form__element {
    
        @media(min-width:theme('breakpoints.xl','value')){
            &:nth-child(1){
                width: 20%;
                margin-bottom: var(--padding-4);
            }
            &:nth-child(2){
                width: 20%;
                margin-bottom: var(--padding-4);
            }
            &:nth-child(3){
                width: 20%;
                margin-bottom: var(--padding-4);
            }
            &{
                padding: 0 7px;
            }
        }
    }

    .filters{

        display: contents;
        .form__element{
            
            margin-bottom: 0;

            @media(min-width:theme('breakpoints.xl','value')){
                
                &:nth-child(3){
                    width: auto;
                }
               
            }

            .block__head{
                padding: var(--padding-3) var(--padding-5);
                border: none;
                padding-#{theme('direction.right','value')}: var(--padding-10);
                padding-#{theme('direction.left','value')}: var(--padding-0);
                cursor: pointer;

                h6{
                    font-size: var(--font-size-md);
                }

                &::before{
                    content: url(../../../images/dropdown.svg);
                    position: absolute;
                    right: 10px;
                }
            }

        }
    }
}



$filter: "filter";

.#{&filter} {
    position: relative;
    height: 60px;

    

    .filter__icon{
        width: 34px;
        height: 34px;
        padding: calc(var(--padding-2) - 2px);
        position: absolute;
        overflow: hidden;
        #{theme('direction.left','value')}: 12px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        background: #e5eff8;
        border-radius: calc(var(--radius-1) - 1px);

        svg{
            fill: var(--color-primary);
            path{
                &:first-child{
                    fill: none;
                }
            }
        }
    }

    .form__input{
        padding-#{theme('direction.left','value')}: calc(var(--padding-16) + 4px);
        cursor: default;
        color: #999999;
        font-size: 14px;
        border: none;
        pointer-events: none;
        height: 60px;
        padding-top: var(--padding-4);

        &::placeholder{
            font-weight: 600;
            color: var(--color-gray-000);
        }
    }

    p{
        position: absolute;
        top: 12px;
        #{theme('direction.left','value')}:  calc(var(--padding-16) + 4px);
        font-size: calc(var(--font-size-small) - 2px);
        color: var(--color-gray-800);
        line-height: 15px;
    }

    &::before{
        content: url(../../../images/arrow.svg);
        position: absolute;
        #{theme('direction.right','value')}: 15px;
        bottom: 6px;
    }
}

.shorting-popularity{
    position: relative;
    margin-#{theme('direction.left','value')}: auto;
    &::before{
        content: url(../../../images/dropdown.svg);
        position: absolute;
        #{theme('direction.right','value')}: 6px;
        bottom: 4px;
    }
    select{
        box-shadow: none;
        font-size: 14px;
        padding-#{theme('direction.right','value')}: var(--padding-10);
        position: relative;
        height: 42px;
        line-height: 42px;
        color: var(--color-dark);
        background-color: transparent;
        border: none;
        background-image: none;

        
    }
    .btn--filter{
        @media(min-width:theme('breakpoints.xl','value')){
            &{
                display: none !important;
            }
        }
    }
}

$box-list: "box-list";

.#{&box-list} {
    background-color: #fff;
    border-radius: var(--radius-2);
    
    box-shadow: var(--boxShadow-l-r);
    display: flex;
    align-items: stretch;

    &:hover{
        box-shadow: var(--boxShadow-vertical);
    }
}


$box: "box";

.#{&box} { 

    .box__primary{
        width: 62%;
        padding: calc(var(--padding-8) + 2px);
    }

    .box__secondary{
        width: calc(100% - 62%);
        box-shadow: -4px 0px 6px #0000000f;
    }
}

.box-list__head{

    h3{
        color: #000;
        font-weight: bold;
    }
}

$profile-block: "profile-block";

.#{&profile-block} {

    .tabled{
        border-top: none;

        .tabled__cell{
            padding: 0;
            font-size: calc(var(--font-size-sm) - 1px);
            color: var(--color-gray-800);

            h5{
                color:var(--color-gray-000);
             
            }
        }
    }

    .avtar{
        margin: 0 auto;
        margin-bottom: 14px;
        width: 130px;
        height: 130px;
    }

    .btn{
        &:hover{
            background-color: var(--color-secondary);
            color: var(--color-white) !important;
        }
    }
}

$grid-group: "grid-group";

.#{&grid-group} {
    display: flex;
    align-items: center;
    margin-bottom: calc(var(--margin-6) + 3px);

    .grid{
        margin-#{theme('direction.left','value')}: calc(var(--margin-6) + 2px);

        &:first-child{
            margin-#{theme('direction.left','value')}: var(--margin-0);
        }
        span{
            display: flex;
            align-items: center;
            font-size: var(--font-size-md);
            color: var(--color-gray-000);

            svg{
                margin-#{theme('direction.right','value')}: 7px;
                fill: var(--color-black);
            }

        }
        
    }
}

.rating-icon{
    svg{
        fill: var(--color-yellow) !important;
    }
}

.pill-block{
    margin-bottom: var(--margin-2);

    span{
        line-height: 22px;
        color: var(--color-gray-1000);
    }
    p{
        margin-bottom: 5px;;
        font-weight: 600;
        color: #000;
    }
    .pill__wrapper{
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .pill-item{
            padding: 5px 8px;
            font-size: 12px;
            background: var(--color-gray-100);
            margin-#{theme('direction.left','value')}: var(--margin-2);
            margin-bottom: var(--margin-2);

            &:first-child{
                margin-#{theme('direction.left','value')}: var(--margin-0);
            }

            .pill{
                color: #333;
            }
        }
    }
}

.tabs{
    .tabs-nav{
        display: inline-block;
        width: 100%;

        li{
            position: relative;
            float: #{theme('direction.left','value')};
            width: 50%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--color-gray-100);
            a{
                color: var(--color-gray-900);
            }
        }

        .tab-active{
            background-color: #fff;
            font-weight: 600;
            a{
                color: #333;
                border-bottom: 2px solid var(--color-secondary);
                padding-bottom: 3px;
            }
        }

        
    }

    .tab-content{
        margin: var(--margin-8);
    }
}

.btn--show-more {
    background: #fff;
    font-weight: 600;
    border: 1px solid #DDDDDD;
    height: 40px;
    width: 242px;
}

.page__head{
    span{
        border-bottom: 2px dotted var(--color-gray-500);
    }
}

.list-inline{

    li{
        padding: 0 0 10px 20px;
        width: 50%;
        margin: 0 -4px 0 0;

        label{
            background: #fff;
            min-height: 50px;
            border-radius: 2px;
            display: inline-block;
            margin: 0 2px 0 0;
            padding: 14px 15px 12px 15px;
            line-height: 1.4;
            border: 1px solid var(--color-gray-300);
            cursor: pointer;
        }
    }
}

.booking-view{
    background-color: #fff;
    padding: 10px;
}