//
//Aligns
//
$align: "align";

.#{$align}{
    &-left {text-align:theme('direction.left') !important;}
    &-right {text-align:theme('direction.right') !important;}
}

.-align{
    &-left {text-align:theme('direction.left') !important; }
    &-right {text-align:theme('direction.right') !important; }
    &-center {text-align: center !important; }
    &-justify {text-align: justify !important; }
    &-auto {margin: auto !important; }
}

.align--center {text-align: center !important; }
