
//
//HEADER
//
$header: "header";

.#{$header}{
    padding: theme('padding.3') 0;
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    color: theme('color.black');
    background: theme('color.white');
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    box-shadow:theme('boxShadow.1');

    &__left{display: flex; align-items: center;}


    &__logo{
        margin-#{theme('direction.right','value')}: theme('margin.5');
        width: 150px;
        height: 60px;
        position: relative; display: flex!important; align-items: center;
    }

    &__actions{
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
        white-space: nowrap;
        margin: 0;
    }

}



@media(min-width:theme('breakpoints.md','value')){
    .btn .svg-icon.user-icon{display: none;}

}






