
/*========================HEADER============================*/
.header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    color: var(--color-dark);
    background: #fff;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
    -o-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    box-shadow: 3.536px 3.536px 8px 0px rgba(0, 0, 0, 0.08);
}

.header__logo {
    margin: 0 20px 0 0;
    width: 135px;
    position: relative;
}

.header__logo img {
    /* position: absolute;*/
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

@media (max-width: 767px) {
    .header {
        padding: 10px 0;

    }
}



/*+========================HEADER ACTIONS============================*/
.header__right {
    text-align: left;
}

.header__actionList .btn {
    text-transform: uppercase;
    font-size: 1rem;
}

.header__actions {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    white-space: nowrap;
    margin: 0;
}

.header__actionList ul li {
    display: inline-block;
    vertical-align: middle;
    color: inherit;
    padding: 0 0 0 15px;
    position: relative;
}

.header__actionList ul li .nav.nav--vertical li {
    padding: 0;
    display: block;
}

/*+========================HEADER NAV============================*/

@media(min-width:1199px){
    .header.is-fixed .nav.nav--primary > ul > li.nav__dropdown > a:hover {
        border-color: transparent;
    }
}