.footer__logo{
    max-width: 140px;
}

.footer_social-links{
    li{
     
        a{
            display: flex;
            img{
                opacity: 1;
                width: 24px;
                height: 24px;
                margin-#{theme('direction.right','value')}: var(--margin-3);
            }
        }
    }
}