
.nav-vertical li {
    margin: 0 0 20px 0;
}

.nav-vertical li a {
    display: block;
    padding: 0 20px 0 20px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 600;
    position: relative;
    height: 70px;
    line-height: 70px;
}

.nav-vertical li a img {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.box--faqs .box__top h4 {
    display: inline-block;
}

.box--faqs .-padding-30 {
    padding-bottom: 15px;
}

.box--faqs .box__body.-padding-30 {
    padding-top: 0;
}

.vertical-links li {
    border-bottom: 1px solid #ddd;
}

.vertical-links li:last-child {
    border-bottom: none;
}

.vertical-links li a {
    display: block;
    padding: 15px 30px;
    font-size: 1.1rem;
    color: var(--color-secondary);
    line-height: 1.4;
}

.vertical-links li a:hover {
    background: rgba(0, 0, 0, 0.02);
}

.faq__action {
    margin: 0 15px 0 0;
}

.faq__action img {
    display: inline-block;
    vertical-align: top;
}
