


.list-container {
    position: relative;
}

.list-container .list-container__body {
    max-height: 500px;
    overflow: auto;
}

.list-container .list-container__head {
    position: relative;
    padding: 10px;
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.list-container .list {
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px;
    margin: 0;
}

.list-container .list:last-child {
    border-bottom: none;
}

.list-container .list:after {
    display: block;
    clear: both;
    content: "";
}

.list-container .list .list__action {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
}

.list-container .list .list__action:hover {
    background: rgba(131, 55, 230, 0.05);
}

.list-container .list p {
    font-size: 0.9rem;
    color: #666;
    line-height: 1.4;
    margin: 0;
}

.list-container .list h6 {
    font-size: 1.1rem;
    padding: 0;
    margin: 0 0 5px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-container .list__media {
    width: 35px;
    float: left;
}

.list-container .list__content {
    width: calc(100% - 35px);
    float: left;
    padding: 0 0 0 15px;
}

.list-container .message-display {
    padding: 10px 0;
}

.list-container .message-display .message-display__icon {
    width: 80px;
    height: 80px;
}




.banner {
    overflow: hidden;
    position: relative;
}

.caraousel__item img {
    display: block;
    margin: auto;
    width: 100%;
}

.banner__content {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 545px;
    max-width: 545px;
    color: #fff;
    margin: 0 0 0 -600px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
}

.banner__content h1 {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: 600;
}

.banner__content p {
    font-weight: 500;
    font-size: 1.2rem;
    color: #fff;
}

.search-form {
    position: relative;
    margin: 50px 0 30px 0;
}


.banner .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin: 0 0 0 -600px;
}



.banner__content .banner-link {
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: underline;
    color: #fff;
}


@media (max-width: 1200px) {

    .banner__content,
    .banner .slick-dots {
        margin: 0;
        left: 20px;
        z-index: 2;
    }

    .banner .slick-dots {
        bottom: 25px;
    }

    .banner__content h1 {
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    .banner__content p {
        font-weight: 500;
        font-size: 1.1rem;
    }

    .search-form {
        margin: 20px 0 20px 0;
    }

    .banner__content .banner-link {
        font-size: 1.1rem;
    }

}

@media (max-width: 767px) {
    .banner__content {
        position: relative;
        top: auto;
        min-width: 100%;
        max-width: 100%;
        margin: -4px 0 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        left: auto;
        background: #333;
        padding: 20px;
        text-align: center;
    }

    .banner__content h1 {
        font-size: 1.6rem;
    }

    .body {
        padding: 70px 0 0;
    }

    .nav.nav--primary > ul > li.nav__dropdown.is-active .nav__dropdown-target,
    .nav.nav--primary > ul > li.nav__dropdown:hover .nav__dropdown-target {
        top: 0;
    }
}




.banner__media {
    position: relative;
}

.banner__media img {
    display: block;
    margin: auto;
}

.banner__media:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
    content: "";
    pointer-events: none;
}

.banner__content.banner__content--centered {
    margin: 0;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    max-width: 850px;
}

.banner__content.banner__content--centered h1 {
    margin-bottom: 0;
}


.txt-inline .txt-inline__tag.last {
    margin-left: 40px;
}

.txt-inline .txt-inline__tag .svg-icon {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.txt-inline .txt-inline__tag .svg-icon svg {
    fill: var(--color-secondary);
}

.tag-online {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #14e06e;
    border: 2px solid #fff;
    position: absolute;
    left: 30px;
    bottom: 20px;
    z-index: 1;
}



.load-more .btn {
    min-width: 200px;
    text-align: center;
    margin: 20px 0 10px;
}

.is-landing .section ul li {
    font-size: 1.1rem;
    color: #666;
}


.is-landing .container--fixed {
    max-width: 1280px;
}

.is-landing .container--mdnarrow {
    max-width: 1160px;
}

.is-landing .container--smnarrow {
    max-width: 1000px;
}



@media(max-width:1199px){
    
    .banner__content,
    .banner .slick-dots {
        margin: 0;
        left: 20px;
        z-index: 2;
    }

    
    .banner__content h1 {
        margin-bottom: 0;
        font-size: 2rem;
    }

  
    .banner .slick-dots {
        bottom: 20px;
    }

    
    .section--content .row:nth-child(2n) .media-group .media.media--small {
        left: 0;
    }

 

    .section--content h2 br,
    .section--gray h2 br {
        display: none;
    }

    .section--content h2,
    .section--gray h2 {
        margin-bottom: 10px;
    }


    
    .section--hiw:before {
        bottom: 20px;
    }

    .section--hiw .col__content:before {
        bottom: -30px;
    }

    .section--slider {
        padding-bottom: 100px;
    }

    .section--slider .quote__col-right {
        padding: 0 30px 0 30px;
    }

    .section--slider .slick-dots {
        position: relative;
        bottom: auto;
    }

    .banner__content.banner__content--centered {
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        text-align: center;
        max-width: 80%;
        right: 20px;
        margin: auto;
    }

    .section--hiw .col__content:before {
        bottom: -10px;
        top: 20px;
    }


}


@media(max-width:1023px){
    
    .section--content [class*="col-"] {
        min-height: 400px;
    }

    .section--hiw:before,
    .section--hiw .col__content:before,
    .section--slider .container--fixed:before,
    .section--slider .container--fixed:after {
        display: none;
    }



    .section--hiw .col__content {
        padding: 15px;
        background: #f3f2f5;
        margin-top: 20px;
    }

    .section--hiw .media {
        margin: 0;
    }

    .section--slider {
        background: #f3f2f5;
    }

    .section--slider .quote__col-right {
        padding: 30px 15px 0;
    }

    .section.section--hiw {
        padding-bottom: 0;
    }

    .section--slider {
        padding-bottom: 50px;
    }

    .box__slip {
        width: 70%;
    }

    .section.section--details .box.box--toggle:last-child {
        margin-bottom: 30px;
    }

}


@media(max-width:767px){
    
    .section--content .row {
        padding: 50px 0;
    }

    .banner__content {
        position: relative;
        top: auto;
        max-width: 100%;
        margin: -4px 0 0;
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        left: auto;
        background: #333;
        padding: 20px;
        text-align: center;
    }

    .search-form input[type="submit"] {
        position: relative;
        right: auto;
        top: auto;
        margin: 10px 0;
        height: 40px;
        line-height: 40px;
        width: 100%;
    }

    .search-form input[type="text"] {
        text-align: center;
        height: 40px;
    }

    .banner:after {
        display: none;
    }

    
    .banner__content.banner__content--centered {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        right: auto;
    }


}



/*+========================SLIDER============================*/
.slick-arrow.slick-prev {
    left: -70px;
}

.slick-arrow.slick-next {
    right: -70px;
}

@media (max-width: 1200px) {
    .slick-arrow.slick-prev {
        left: -50px;
    }

    .slick-arrow.slick-next {
        right: -50px;
    }
}

@media (max-width: 767px) {
    .slick-arrow.slick-prev {
        left: 0;
    }

    .slick-arrow.slick-next {
        right: 0;
    }
}

/*+========================FORM============================*/
.search-form .form,
.footer-subscribe .form {
    display: flex;
}

.search-form .form input[type="text"],
.footer-subscribe .form input[type="text"] {
    height: 55px;
    border: none;
    padding: 0 20px;
    font-size: 1rem;
    font-family: 'Open Sans';
    font-weight: 400;
    color: var(--color-grey);
}

.search-form .form input[type="submit"],
.footer-subscribe .form input[type="submit"] {
    height: 55px;
    border: none;
    font-size: 1.2rem;
    margin: 0;
    margin-left: 10px;
    background: var(--color-secondary);
}

.search-form .form input[type="submit"]:hover,
.footer-subscribe .form input[type="submit"]:hover {
    background: var(--color-secondary);
}

@media (max-width: 1200px) {

    .search-form .form input[type="text"],
    .footer-subscribe .form input[type="text"],
    .search-form .form input[type="submit"],
    .footer-subscribe .form input[type="submit"] {
        height: 50px;
    }
}

@media (max-width: 767px) {

    .search-form .form,
    .footer-subscribe .form {
        display: block;
    }

    .search-form .form input[type="text"],
    .footer-subscribe .form input[type="text"],
    .search-form .form input[type="submit"],
    .footer-subscribe .form input[type="submit"] {
        height: 40px;
        line-height: 40px;
    }

    .search-form .form input[type="submit"],
    .footer-subscribe .form input[type="submit"] {
        margin-left: 0;
        margin-top: 10px;
    }
}


/*+========================WHY US?============================*/
.block {
    padding: 50px;
}

.block:hover {
    background: #fff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1)
}

.block__media {
    /*height: 76px;*/
    width: 110px;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin: 0 auto;
}

.block__media img {
    margin: 0 auto;
}

.block__content h6 {
    font-size: 1.142rem;
    font-weight: 600;
    color: var(--color-dark);
    letter-spacing: -0.02em;
    max-width: 170px;
    margin: 30px auto;
    line-height: 1.8;
    white-space: normal;
}

.block__content p {
    margin: 0;
    white-space: normal;
}

@media (max-width: 1200px) {
    .block {
        padding: 20px;
    }
}

@media (max-width: 767px) {
    .block {
        padding: 5px;
    }
}


/*+========================COURSE AND LANGUAGE============================*/

.course_card_container {
    position: relative;
    margin-bottom: 35px;
}

.course_card_container a.whole-link {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.course_card_container a.whole-link:hover {
    -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.15);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    border-bottom-right-radius: 50px;
}

.course_card_container .course-selector-image {
    margin: 0;
}

.course_card_container .course-selector-image img {
    margin: auto;
}

.course_flag_card {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}

.course_flag_card .flag-icon {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 20px;
}

.course_flag_card .course-info {}

.course_flag_card .course-info h4 {
    font-size: 1.1428rem;
    font-weight: 600;
}

.course_flag_card .course-info p {
    font-size: 0.9285rem;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.card-more-content {
    font-size: 1.1428rem;
    color: var(--color-dark);
}

.card-more-content a {
    color: var(--color-secondary);
    font-weight: 600;
}

@media (max-width: 767px) {
    .course_flag_card {
        padding: 20px 0;
    }

    .card-more-content {
        line-height: 1.5;
    }

    .arrow-link:after {
        top: 8px;
    }
}



/*+========================SCHEDULE LESSONS COURSES============================*/

.section--lessons {
    padding-bottom: 110px;
}

.section--lessons .slick-arrow {
    top: auto;
    bottom: -50px;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Safari 3-8 */
    transform: rotate(90deg);
    margin: 0 5px;
    width: 45px;
    height: 45px;
}

.section--lessons .slick-arrow.slick-prev:before {
    margin-left: -3px;
}

.section--lessons .slick-arrow.slick-next:before {
    margin-left: -8px;
}


.section--lessons .slick-arrow:before {
    width: 10px;
    height: 10px;
    margin: -5px 0 0 -3px;
}

.section--lessons .slick-arrow.slick-prev {
    left: 50%;
    margin-left: -50px;
}

.section--lessons .slick-arrow.slick-next {
    right: 50%;
    margin-right: -50px;
}


.repeat-listing {
    padding: 30px 0;
}

.repeat-listing.-border {
    border-left: 0px;
    border-right: 0px;
    border-color: var(--border-color);
    border-bottom: 0;
}

.repeat-listing .date-format {
    display: flex;
    flex-wrap: wrap;
}

.date-format .date {
    font-size: 3.22rem;
    font-weight: 700;
    margin-right: 15px
}

.date-format .date-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    opacity: 0.5
}

.date-format .date-info .day {
    margin-top: 6px;
}

.date-format .date-info .month {
    margin-top: 5px;
}

.leason-consult {}

.leason-consult h3 {
    font-size: 1.28rem;
    font-weight: 500
}

.leason-consult .location {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.5;
    margin: 10px 0;
    display: block;
}

.leason-consult p {
    color: #fff;
    opacity: 0.5
}

.selector-pic {}

.selector-pic figure {
    width: 100px;
    margin: 0
}

.selector-pic img {
    border-radius: 4px;
}

@media (max-width: 767px) {
    .date-format .date {
        font-size: 2.4rem;
        font-weight: 600;
        margin-right: 10px;
    }

    .date-format .date-info .day {
        margin-top: 0;
    }

    .leason-consult.align-center {
        text-align: left;
    }

    .section--lessons .repeat-listing .row {
        flex-wrap: nowrap;
    }
}

@media (max-width: 500px) {
    .leason-consult.align-center {
        margin: 20px 0;
    }

    .section--lessons .repeat-listing .row {
        flex-wrap: wrap;
    }
}


/*+========================CTA============================*/

.section-cta {
    background: #000000;
    color: #fff;
    padding: 45px 0;
}

.cta-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cta-wrap h6 {
    max-width: 360px;
    text-align: right;
    font-size: 1.428rem;
    font-weight: 400
}

.cta-wrap .btn {
    margin-left: 30px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    color: var(--color-dark);
}


@media (max-width: 767px) {
    .section-cta {
        padding: 30px 0;
    }

    .cta-wrap h6 {
        text-align: center;
        max-width: 100%;
        font-size: 1.328rem;
		    flex-basis: 100%;
    }

    .cta-wrap .btn {
        margin-left: 0;
        margin-top: 15px;
        height: 40px;
        line-height: 40px;
    }
}


/*+========================TESTIMONIAL============================*/

.quote-slider-wrap {
    position: relative;
}

.quote__mark {
    position: absolute;
    right: 50%;
    z-index: 1;
    margin-right: -150px;
    opacity: 0.1;
    margin-top: 10px;
}

.quote-main {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.quote-large {
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex: 0 0 50%;
    border-radius: 4px;
    border-bottom-right-radius: 90px;
}

.quote-thumbs {
    width: 480px;
    bottom: 0;
    right: 0;
    position: absolute;
    margin-right: 80px;
}

.quote-thumbs .slick-slide {
    padding: 0 15px;
}


.quote-thumbs .slick-track {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    -ms-transform: translate3d(0, 0, 0) !important;
    -o-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
}

.quote-thumbs .quote-thumb {
    border: 1px solid #e8e8e8;
    border-radius: 5px;


}

.quote-thumbs .quote-thumb img {
    border-radius: 5px;
}

.quote-thumbs .slick-current .quote-thumb {
    border-color: var(--color-secondary);
}

.quote-white {
    background: #fff;
    min-width: 575px;
    max-width: 575px;
    margin-left: -65px;
    z-index: 1;
    padding: 55px;
    margin-bottom: 80px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);

}

.quote-white p {
    max-height: 100px;
    /*overflow-y: scroll;*/
    overflow-y: auto;
}

.quote-slider .slick-arrow {
    transform: translateY(-85%);
    -moz-transform: translateY(-85%);
    -webkit-transform: translateY(-85%);
}

.quote-slider .slick-arrow.slick-prev {
    left: 50%;
    margin-left: -35px;
}

.quote-slider .slick-arrow.slick-next {
    right: 30px;
}

.quote-footer {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.quote-footer .title {
    font-size: 1.132rem;
    color: var(--color-dark);
    font-weight: 600;
}

.quote-footer p {
    margin: 0;
    border-left: 1px solid var(--color-dark);
    font-size: 1.132rem;
    color: var(--color-dark);
    font-weight: 400;
    margin-left: 7px;
    padding-left: 7px;
    line-height: 1.1;

}

.quote-thumbs .slick-arrow {
    width: 40px;
    height: 100%;
    border-radius: 5px;
    box-shadow: none;
    margin: 0;
    background: transparent;
    transform: translateY(-50%);
}

.quote-thumbs .slick-arrow.slick-prev {
    left: -25px;
}

.quote-thumbs .slick-arrow.slick-next {
    right: -25px;
}



/*.quote-thumb {
    padding: 0;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.quote-thumb:before {
    position: relative;
    padding-bottom: 100%;
    display: block;
    content: "";
}

.quote-thumb img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}*/

@media (max-width: 1200px) {
    .quote__mark {
        display: none;
    }

    .quote-white {
        max-width: 500px;
        max-height: 260px;
        padding: 45px;
        margin-bottom: 0;
        margin-left: 0;
        box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    }

    .quote-slider .slick-arrow.slick-next {
        right: 0;
    }

    .quote-slider .slick-arrow.slick-prev {

        margin-left: 0
    }

    .quote-large {
        flex: 0 0 40%;
    }

    .quote-thumbs {
        width: 100%;
        bottom: 0;
        right: 0;
        position: relative;
        margin-right: 0;
        margin-top: 25px;
    }
}

@media (max-width: 768px) {
    .quote-main {
        display: inline-block !important;
    }

    .quote-large {
        flex: 0 0 100%;
    }

    .quote-white {
        max-width: 100%;
        min-width: 100%;
        max-height: 100%;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        padding: 10px;
    }

    .quote-white p {
        max-height: 100%;
        overflow-y: unset
    }

    .quote-thumbs .slick-arrow.slick-prev {
        left: 0;
    }

    .quote-thumbs .slick-arrow.slick-next {
        right: 0;
    }

    .quote-thumbs .slick-arrow {
        background: #fff;
        border-radius: 50%;
        height: 40px;
    }

    .quote-thumbs .slick-arrow.slick-next:before {
        margin-left: -7px;
    }

    .quote-thumbs .slick-arrow:before {
        margin: -5px 0 0 -7px
    }

    .slick-arrow:before {
        width: 10px;
        height: 10px;
        border-left-width: 3px;
        border-bottom-width: 3px;
    }

}

/*+========================TEACHERS============================*/

.border-box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid var(--color-grey-light);
    padding: 15px;
    border-radius: 2px;
    margin: 0 0 30px 0;
}

.border-box .box-pic {
    width: 100px;
    border-radius: 4px;
    display: block;
}

.border-box .box-pic img {
    border-radius: 4px;
}

.border-box .box-body {
    margin-left: 15px;
    flex: 0 0 65%;
}

.border-box .box-body .title {
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark)
}

.border-box .box-body .location {
    font-size: 13px;
    color: var(--color-dark);
    margin: 5px 0;
    display: block;
}

.border-box .box-body .rating {
    display: flex;
}

.border-box .box-body .rating .svg {
    fill: var(--color-secondary)
}

.border-box .box-body .rating.no-rating .svg svg {
    fill: var(--color-grey);
}

.border-box .box-body .rating .svg svg {
    width: 11px;
}

.border-box .box-body .rating .rate-value {
    font-size: 1rem;
    color: var(--color-grey);
    margin-left: 5px;
}

.border-box .box-body .tags {
    flex-wrap: wrap;
    display: flex;
    margin-left: -5px;
    margin-top: 15px;
}

.border-box .box-body .tags li {
    background: var(--color-grey-light);
    padding: 5px;
    font-size: 0.857rem;
    color: var(--color-dark);
    margin: 5px
}


@media (max-width: 1200px) {
    .border-box .box-pic {
        width: 70px;
    }
}

@media (max-width: 767px) {
    .border-box {
        display: block;
    }

    .border-box .box-body {
        margin-left: 0;
        margin-top: 15px;
    }
}
