
/* listing */
.section--listing {
    padding: 40px 0;
}

.section--search {
    background: #fff;
    padding: 20px 0;
    box-shadow: 3.536px 3.536px 8px 0px rgba(0, 0, 0, 0.08);
}

.section__tags {
    border-top: 1px solid #eee;
    padding: 0 0;
    background: #fff;
    position: relative;
    z-index: 1;
}


.form__element {
    position: relative;
}

.form-filters .form__element {
    width: 50%;
    float: left;
}

.form-filters .form__element:first-child input {
    border-right: none;
}

.form-filters .form__element:after {
    position: absolute;
    right: 24px;
    top: 28px;
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #333;
    pointer-events: none;
}

body[dir="rtl"] .form-filters .form__element:after {
    left: 24px;
    right: auto;
}

.form-filters .form__element .svg-icon {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    left: 24px;
    top: 22px;
}

body[dir="rtl"] .form-filters .form__element .svg-icon {
    right: 24px;
    left: auto;
}

.form__element .form__input {
    border-radius: 0;
    box-shadow: none;
    height: 60px;
    padding-right: 50px;
    line-height: 60px;
}

.form-filters .form__element .form__input {
    padding-left: 50px;
	    cursor: default;
}

.form-search .form__action {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.form-search .form__action-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 50px;
}
.form-search--inline .keyword-search {
    padding: 0 40px 0 20px;
}
.form-search .form__action-wrap .svg-icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 21px;
    height: 20px;
    margin: auto;
    pointer-events: none;
}

.form-search .form__action-wrap .svg-icon svg {
    height: 100%;
}

.form__element .form__target {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 2;
    max-height: 400px;
    overflow: auto;
}

.form__element.form-target-visible .form__target {
    display: block;
}

/* @media(min-width:767px){
.form__element.form-target-visible:before{position: fixed;left: 0;right: 0; top: 0; bottom: 0;content: "";background: rgba(243,242,245,0.8);z-index: -1;}
}     */

.section--listing.section-invisible {
    z-index: -2;
}

.tag-list li {
    display: inline-block;
    padding: 10px 10px 10px 0;
    vertical-align: top;
}

.tag-list li a {
    height: 40px;
    line-height: 40px;
    display: block;
}

.tag-list li a.tag__clickable {
    position: relative;
    background: #e9e8eb;
    border-radius: 3px;
    padding: 0 45px 0 20px;
}

.tag-list li a.tag__clickable:after {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background: #fff;
    content: "+";
    position: absolute;
    right: 12px;
    top: 10px;
    line-height: 19px;
    text-align: center;
    transform: rotate(45deg);
    font-size: 1.2rem;
    transform-origin: center center;
}

.sort-by {
    margin: 0 0 30px;
}

.sort-by select {
    box-shadow: none;
}



@media(min-width:1199px){
    
    #left__fixed.stick {
        position: fixed;
        width: 376px;
    }
}