
.box.box--narrow .field_label {
    display: block;
    width: 100%;
}

.box.box--narrow .field_label .-link-underline {
    font-weight: normal;
}
.div-login-form .field_label .-link-underline {
    font-weight: normal;
}

@media(max-width:1023px) {

   

    .box.box--narrow .-float-right {
        float: right !important;
    }

    .div-login-form .-float-right {
        float: right !important;
    }

}
