$dashboard: "dashboard";

.#{$dashboard}{
    
    @media (min-width:theme('breakpoints.xxl','value')) {
        display: flex;
    }

    @media (max-width:theme('breakpoints.xxl','value')) {
        display: flex;
        flex-direction: column;
    }

    $dashboard__primary: "dashboard__primary";

    .#{$dashboard__primary}{

        @media (max-width:theme('breakpoints.xxl','value')) {
            order: 2;
        }
        @media(max-width: theme('breakpoints.xxxl','value')) {
            padding: 0 var(--padding-5);
        }
    }
    


    $dashboard__secondary: "dashboard__secondary";

    .#{$dashboard__secondary}{
        background-color: #fff;
        position: relative;
        transition: all 0.2s;
        box-shadow: var(--boxShadow-l-r);
        
        @media(max-width: theme('breakpoints.xxl','value')){
            &{
                margin: var(--margin-5) var(--margin-5) 0;
            }
        }
        
        @media (min-width:theme('breakpoints.xxxl','value')){
            &{
                max-width: 28.6rem;
                position: sticky;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 3;
                height: 100vh;
            }
        }

        @media (min-width:theme('breakpoints.xxl','value')) and (max-width: theme('breakpoints.xxxl','value')){
            &{
                max-width: 22rem;
                position: sticky;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 3;
                height: 100vh;
                
            }
        }

    }
    
}

$status-bar: "status-bar";

.#{&status-bar} {
    border-radius: theme('radius.0');
    padding: var(--padding-8) 0;
    height: 100%;

    @media (min-width:theme('breakpoints.lg','value')) and (max-width:theme('breakpoints.xxl','value')) {
        &{
            padding: var(--padding-8) var(--padding-4);
            max-height: 558px;
        }
    }
    .status-bar__head{
        padding: 0 var(--padding-6);  
        padding-bottom: var(--padding-5);
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid theme('color.gray.200');
        h5{
            font-size: var(--font-size-h5);
            color: var(--color-gray-000);
        }
    }
    .status-bar__body{
        padding: var(--padding-6); 
        height: calc(100% - 56px);

        .calendar{
            padding-bottom: var(--padding-6); 
            img{
                width: 100%;
            }
        }
        
        .listing-window{
            height: calc(100% - 297px);
            position: relative;
            
            .scrollbar{
                max-height: inherit;
                height: calc(100% - 1px);
            }

            @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xxl','value')){
                &{
                    height: calc(100% - 218px);
                }
            }
            @media(min-width:theme('breakpoints.xxxl','value')){
                &{
                    height: calc(100% - 393px);
                }
            }
            @media(max-width:theme('breakpoints.md','value')){
                &{
                    height: 300px;
                }
            }
        }

        @media(min-width: theme('breakpoints.lg','value')) and (max-width: theme('breakpoints.xxl','value')){
            &{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 30px;
            }
        }
    }
}

$lesson-list-container: "lesson-list-container";

.#{&lesson-list-container} {

    .date{
        font-size: var(--font-size-small);
        text-transform: uppercase;
        color: var(--color-gray-1000);
        font-weight: var(--font-weight-medium);
        margin-bottom: var(--margin-4);
    }

}

$lesson-list: "lesson-list";

.#{&lesson-list} {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    padding: var(--padding-6) var(--padding-4);
    background-color: #EDEFF3;
    border-radius: theme('radius.1');
    margin-bottom: var( --margin-3);
    &::after{
        position: absolute;
        #{theme('direction.right','value')}: 10px;
        top: 50%;
        content: "";
        width: 7px;
        height: 7px;
        border-right: 1px solid var(--color-gray-000);
        border-bottom: 1px solid var(--color-gray-000);
        transform: rotate(-45deg) translate(0, -100%);
        pointer-events: none;
    }
    .lesson-list__left {
        width: 40px;
    }

    .lesson-list__right {
        width: calc(100% - 40px);
        margin-#{theme('direction.left','value')}: theme('margin.4');

        p{
            margin-bottom: theme('margin.3');
            line-height: 1;
            color: var(--color-black);

            &:last-child{
                margin-bottom: theme('margin.0');
            }
        }

        .lesson-time{
            color: var(--color-gray-000);
            font-weight: var(--font-weight-medium);
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            span{
                color: var(--color-primary);
                margin-right: 3px;
            }

            @media(max-width:theme('breakpoints.sm','value')){
                max-width: 200px;
            }
            @media(min-width:theme('breakpoints.xl','value')){
                max-width: 230px;
            }
            @media(min-width:theme('breakpoints.xxl','value')) and (max-width:theme('breakpoints.xxxl','value')){
                max-width: 170px;
            }
        }
    }

    .lesson-list__action{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
    }
}

.lesson-list-container{
    margin-bottom: var(--margin-12);
    &:last-child{
        margin-bottom: var(--margin-0);
    }
}

$stat: "stat";

.#{&stat}{
    background-color: var(--color-white);
    padding: var(--padding-6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: var(--radius-1);
    box-shadow: var(--boxShadow-all);
    transition: all 0.2s;

    .stat__media {
        width: 5.72rem;
        height: 5.72rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: theme('radius.round');
        color: #fff;

        @media(min-width:theme('breakpoints.xxl','value')) and (max-width:theme('breakpoints.xxxl','value')){
            &{
                width: 3.72rem;
                height: 3.72rem;
                svg{
                    width: 2rem;
                    height: 2rem;
                }
            }
        }
    }
    span{
        color: var(--color-gray-1000);
    }
    .stat__action{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
    }

    @media(min-width:theme('breakpoints.xl','value')){
        &:hover{
            box-shadow: var(--boxShadow-vertical);
            margin-left: -5px;
            margin-right: -5px;
        }
    }

    @media(max-width:theme('breakpoints.xl','value')){
        margin-bottom: var(--padding-6);
    }
}


$statistics: "statistics";

.#{&statistics}{
    background-color: var(--color-white);
    padding: var(--padding-6);
    position: relative;
    border-radius: var(--radius-1);
    box-shadow: var(--boxShadow-all);
    .statistics__head {
        margin-bottom: var(--padding-6);
    }

    .statistics__body{
        .graph-media{
            img{
                width: 100%;
            }
        }
    }
}

$sale-stat: "sale-stat";

.#{&sale-stat} {
    display: flex;
    align-items: center;
    justify-content: space-between;
     

    @media(min-width:theme('breakpoints.xxxl','value')){
        &{
            padding: var(--padding-12);
        }
    }
    @media(max-width:theme('breakpoints.xxxl','value')){
        &{
            padding: var(--padding-6) var(--padding-4);
            margin-bottom: var(--margin-4);
        }
    }

    .sale-stat__select{

        @media(max-width:theme('breakpoints.lg','value')){
            &{
                width: 140px;
            }
        }
    }
}
.sale-stat--primary{
    background-color: #F6B6500F;
}
.sale-stat--secondary{
    background-color: #48C5D20F;
}

.graph-media{
    img{
        width: 100%;
    }
}

$margin-bottom-6: "margin-bottom-6";

.#{&margin-bottom-6} {
    margin-bottom: var(--padding-6);
}

.upcoming {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--margin-3);

    h6 {
        color: var(--color-gray-000);
    }
}

.dashboard-teacher{

    .dashboard__primary{
        @media (min-width:theme('breakpoints.xxxl','value')) {
            padding: 0 var(--padding-12);
            width: 100%;
        }
    }
}

.lesson-price p {
    margin-bottom: 0;
}

.flex-cell__content{
    display: flex;
    align-items: center;
}

.select2-container{

    .select2-selection--single{
        height: 2.8rem !important;
        border: 1px solid var(--color-gray-300) !important;
        position: relative;
        border-radius: var(--radius-1) !important;

        .select2-selection__rendered{
            line-height: 38px !important;
            padding: 0 var(--padding-4) !important;
            color: #999 !important;
            padding-right: 30px !important;
        }
        .select2-selection__arrow{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px !important;
            top: 0 !important;
            right: 5px !important;
            b{
                border-width: 6px 5px 0 5px !important;
            }
        }
    }

}

.language {
    display: flex;
    align-items: center;

    .my_teacher_lang_heading {
        margin-right: 4px;
    }
    
    .btn--equal{
        width: 2.5rem;
        height: 2.5rem;
        min-width: 2.5rem;

        .icon{
            width: 15px;
            height: 15px;
        }
    }
}

$aside--progress--menu: "aside--progress--menu";
.#{&aside--progress--menu} {
    position: relative;

    &:not(.is-completed){

        &::after{
            position: absolute;
            #{theme('direction.right','value')}: 0.8rem;
            top: 0.7rem;
            content: "!";
            color: #fff;
            pointer-events: none;
        }
        &::before{
            content: "";
            position: absolute;
            top: 1rem;
            #{theme('direction.right','value')}: 0.65rem;
            transform: translate(25%, -25%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            min-width: 1.75em;
            height: 1.75em;
            border-radius: 1.75em;
            padding-#{theme('direction.left','value')}: var(--padding-1);
            padding-#{theme('direction.right','value')}: var(--padding-1);
            content: attr(data-count);
            font-size: 0.66em;
            line-height: 1.75em;
            background-color: var(--color-third);
            pointer-events: none;
        }
    }
    
}

.main-dashboard .page__footer{
    display: none;
}
.teacherscheduledlessons.view .page__footer{
    display: none;
}
.learnerscheduledlessons.view .page__footer{
    display: none;
}