body[dir="rtl"] select{background-position: 15px center}
body[dir="rtl"] .block__head-trigger:after{    right: auto;     left: 20px;}
body[dir="rtl"] .box-list__head .ratings{    margin: 0 30px 0 0;}
body[dir="rtl"] .btn .svg-icon{    margin: 0 0 0 5px;}

/*========================ARROWS============================*/
body[dir="rtl"] .arrow-link {
    padding-left: 20px;
}

body[dir="rtl"] .arrow-link:after {
    left: 5px;
    right: auto;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

body[dir="rtl"] .arrow-link:hover:after {
    left: 0;
    right: auto;
}


/*+========================NAVIGATION PRIMARY============================*/
body[dir="rtl"] .nav.nav--primary > ul > li.nav__dropdown > a:after {
    left: 5px;
    right: auto;
}


/*==================TEACHERS LIST===================*/
body[dir="rtl"] .border-box .box-body .rating .rate-value
{     margin-right: 5px;}


body[dir="rtl"] input[type="text"],
body[dir="rtl"] input[type="email"],
body[dir="rtl"] input[type="phone"],
body[dir="rtl"] input[type="search"],
body[dir="rtl"] input[type="password"],
body[dir="rtl"] textarea,
body[dir="rtl"] select,
body[dir="rtl"] input[type="number"],
body[dir="rtl"] input[type="file"] {
    padding: 0 30px;
}

body[dir="rtl"] .links--vertical.footer_contact_details li img {
    margin-left: 10px;
    margin-right: 0px;
}

body[dir="rtl"] .profile-info .profile-info__right,
body[dir="rtl"] .msg-list__right {
    padding-right: 20px;
}

body[dir="rtl"] .tick-listing.tick-listing--onehalf li {
    padding-right: 20px;
}

body[dir="rtl"] .tick-listing li:before {
    right: 0px;
    left: auto;
}

body[dir="rtl"] .page-panel__left,
body[dir="rtl"] .page-panel__inner-l {
    float: right;
}

body[dir="rtl"] .page-panel__right,
body[dir="rtl"] .page-panel__inner-r {
    float: left;
    padding: 0 0px 0 0px;
}

body[dir="rtl"] .page-panel__right {
    padding-right: 30px;
}

body[dir="rtl"] .course_flag_card .flag-icon {
    margin-left: 20px;
}

body[dir="rtl"] .date-format .date {
    margin-left: 15px;
    margin-right: 0px;
}

body[dir="rtl"] .search-form .form input[type="submit"],
body[dir="rtl"] .footer-subscribe .form input[type="submit"] {
    margin-right: 10px;
    margin-left: 0px;
}

body[dir="rtl"] .cta-wrap .btn {
    margin-right: 30px;
    margin-left: 0px;
}

body[dir="rtl"] .form-filters .form__element .form__input {
    padding-right: 50px;
}

body[dir="rtl"] input[type="submit"] {
    margin-left: 10px;
}

body[dir="rtl"] .page-panel__inner-l {
    padding-left: 30px;
}

body[dir="rtl"] .border-box .box-body {
    margin-left: 0px;
    margin-right: 15px;
}

body[dir="rtl"] .box-language .language span,
body[dir="rtl"] .border-box .language span,
body[dir="rtl"] .my_teacher_langauges .language span {
    float: right;
}

body[dir="rtl"] .nav.nav--primary > ul > li.nav__dropdown.nav__dropdown--account .nav__dropdown-target {
    left: 0;
    right: auto;
}

body[dir="rtl"] .col-list .avtar {
    margin-left: 15px;
    margin-right: 0px;
}

body[dir="rtl"] .form-search .form__action-wrap {
    right: auto;
    left: 0px;
}

@media (max-width: 1200px) {
    body[dir="rtl"] .page-panel__inner-l {
        padding-right: 0px;
        padding-left: 30px;
    }

    body[dir="rtl"] .page-panel__right {
        padding-right: 0px !important;

    }

    body[dir="rtl"] .nav.nav--primary-offset {
        right: 0px;
        text-align: right;
    }
}

